
@charset "ISO-8859-1";


* {
  box-sizing: border-box;
}

#menu {
    background-color: #333;
	margin: 10px 10px 0px 10px;
	padding-top:5px;
	padding-bottom:5px;
	color: #F8F8FA;
}

a{
	font-size:large;
}

li:hover{
	
	color:blue;
}
	


div#textRec {
    padding-bottom: 35px;
}

#menu ul {
	margin: 2px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

#menu ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
	margin:8px;
	text-align: left;
	padding-bottom: 20px;
}
body {
  font-family: Arial;
  padding: 10px;
  background: #F8F8FA;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #F8F8FA;
}

.header h1 {
  font-size: 50px;
}



.busimg img{
	width: 1230px;
    height: 620px;
    margin-top: 120px;
    margin-left: 100px;
}



/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #F8F8FA;
  
}

/* Fake image */
.fakeimg {
 
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #F8F8FA;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 147px
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #F8F8FA;
  margin-top: 20px;
}

a{
	color: #F8F8FA;
	text-decoration: none;
	
}

a:hover{
	color:blue;
}
.dropbtn {
 
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown4 {
  position: relative;
  display: inline-block;
}

.dropdown4-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

a{
	font-size:large;
}
.dropdown4-content a {
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown4:hover .dropdown4-content {display: block;
    margin-left: 517px;
    margin-top: 12px;
    background-color: #333;
    width: 187px;}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown:hover .dropdown-content {    display: block;
    margin-left: 489px;
    margin-top: 12px;
    background-color: #333;
    width: 164px;}


.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown2-content a {
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown2:hover .dropdown2-content {    display: block;
    margin-left: 746px;
    margin-top: 12px;
    background-color: #333;
    width: 200px;}



.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown1-content a {
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown1:hover .dropdown1-content {display: block;
    margin-left: 610px;
    margin-top: 12px;
    background-color: #333;
    width: 175px;
    }






