@charset "ISO-8859-1";

table {
  font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 728px;
    font-size: xx-large;
   text-align:center;
    height: 129px;
}

td, th {
  border: 1px solid #dddddd;
  
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th{
	font-size: larger;
	font-weight: bold;
	text-align:center;
}

.arrpar{
	font-style: oblique;
}

#check {
    margin-top: 10px;
    width: -8px;
    position: relative;
    top: 0px;
    left: 250px;
}

#totale{
	display:flex;
	margin-left: 585px;
	
}

#sub {
    text-transform: uppercase;
    height: 80px;
    width: 140px;
    background-color: #333;
    color: #F8F8FA;
    font-size: 23px;
    text-align: center;
}

#check {
    margin-top: 10px;
    position: relative;
    left: 240px;
}

#form {
   display: table;
    padding-top: 10px;
    background-color: #F8F8FA;
    width: 458px;
    height: 400px;
    /* top: 50%; */
    /* left: 50%; */
    margin-top: 78px;
    margin-left: -306px;
    margin-bottom: 100px;
}

#info{
	margin-right: 25px;
    font-weight: bold;
}