<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Etransferr</display-name>
  <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>out.virgilio.it</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>25</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>etransferinfo@virgilio.it</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>Progettois98</param-value>
    </context-param>
 
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <error-code>408</error-code>
    <location>/view/credenzialiNonValide.jsp</location>
  </error-page>
    <error-page>
    <error-code>407</error-code>
    <location>/view/sessionescaduta.jsp</location>
  </error-page>
    <error-page>
    <error-code>406</error-code>
    <location>/view/parametrinonValidi.jsp</location>
  </error-page>
    <error-page>
    <error-code>410</error-code>
    <location>/view/credenzialiUtilizzate.jsp</location>
  </error-page>
</web-app>